@font-face {
  font-family: 'Forte';
  src: url('../fonts/Forte.ttf');
}

@font-face {
  font-family: 'Meridien-Medium';
  src: url('../fonts/Meridien-Medium.ttf');
}

@font-face {
  font-family: 'ARLRDBD';
  src: url('../fonts/ARLRDBD.TTF');
}
